<div th:replace="header"></div>

<th:block th:if="${session.user}">
	<h1>Create a new Space</h1>
	<form action="#" th:action="@{/space/create}" th:object="${newSpace}" method="post">
		<div class="form-group">
			<label for="name">Space name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Space name">
		</div>
		<div class="form-group">
			<label for="url">Permalink</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">https://www.subject.se/space/</span>
				</div>
				<input type="text" class="form-control" id="spaceUrl" placeholder="give-your-space-a-descriptive-permalink">
			</div>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" name="description" placeholder="Space description">
		</div>
		<button type="submit" id="spaceUrlSubmit" class="btn btn-primary">Create Space</button>
	</form>
</th:block>

<div th:replace="footer"></div>