<div th:replace="header"></div>

<th:block th:if="${session.user} and ${page} and ${page.getSpace().getOperator(session.user)}">
	<h1 th:text="${'Edit ' + page.getName()}"></h1>
	<form action="#" th:action="@{/page/edit}" th:object="${page}" method="post">
		<div class="form-group">
			<label for="name">Page name</label>
			<input type="text" class="form-control" id="name" th:field="${page.name}">
		</div>
		<div class="form-group">
			<label for="url">Page URL</label>
			<input disabled type="text" class="form-control" id="url" th:field="${page.url}">
			<input type="hidden" id="url" th:field="${page.url}">
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea rows="20" class="form-control" id="content" th:field="${page.content}"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Update Page</button>
	</form>
</th:block>

<script>
	var simplemde = new SimpleMDE({	autofocus: true, showIcons: ["code", "table"], element: document.getElementById("content")});
</script>

<div th:replace="footer"></div>