<div th:replace="header"></div>

<th:block th:if="${session.user} and ${space} and ${space.getOperator(session.user)}">
	<h1 th:text="${'Edit ' + space.getName()}"></h1>
	<form action="#" th:action="@{/space/edit}" th:object="${space}" method="post">
		<div class="form-group">
			<label for="name">Space name</label>
			<input type="text" class="form-control" id="name" th:field="${space.name}">
		</div>
		<div class="form-group">
			<label for="description">Space description</label>
			<input type="text" class="form-control" id="description" th:field="${space.description}">
		</div>
		<div class="form-group">
			<label for="url">Space URL</label>
			<input disabled type="text" class="form-control" id="url" th:field="${space.url}">
			<input type="hidden" id="url" th:field="${space.url}">
		</div>
		<button type="submit" class="btn btn-primary">Update Space</button>
	</form>
</th:block>

<div th:replace="footer"></div>