<div th:replace="header"></div>

<th:block th:if="${session.user} and ${page}">
	<h1 th:text="${'Edit ' + page.getName()}"></h1>
	<form action="#" th:action="@{/page/edit}" th:object="${page}" method="post">
		<div class="form-group">
			<label for="pageid">Page ID</label>
			<input readonly type="text" class="form-control" id="pageid" name="pageid" th:value="*{pageid}">
		</div>
		<div class="form-group">
			<label for="name">Page name</label>
			<input type="text" class="form-control" id="name" th:field="*{name}">
		</div>
		<div class="form-group">
			<input type="checkbox" th:name="active" th:field="*{active}" th:checked="*{active}" th:value="*{active}" onclick="this.value = this.checked"/>
			<label for="active">Published</label>
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<textarea rows="20" class="form-control" id="content" th:field="*{content}"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Update Page</button>
	</form>
</th:block>

<script>
	var simplemde = new SimpleMDE({	autofocus: true, showIcons: ["code", "table"], element: document.getElementById("content")});
</script>

<div th:replace="footer"></div>