				</div>
				<div th:replace="rightmenu"></div>
			</div>
		</div>
		<div class="container">&nbsp;</div>
		<div class="container-fluid bg-dark text-center p-3">
			<div class="row">
				<div class="col text-left"><span class="text-muted">Made in Borås, Sweden</span></div>
				<div class="col"><span class="text-muted">https://github.com/cliffordcarnmo/subject</span></div>
				<div class="col text-right"><span class="text-muted">sysop@subject.se</span></div>
			</div>
		</div>
		<script src="/libs/jquery/jquery-3.5.1.min.js"></script>
		<script src="/libs/popper/popper.min.js"></script>
		<script src="/libs/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>