<div th:replace="header"></div>

<th:block th:if="${spaces} and ${spaces.size()} gt 0">
	<h1 class="pb-3">New and recently updated</h1>
	<div th:each="space : ${spaces}" class="card mb-3">
		<div class="h2 card-header"><a th:text="${space.getName()}" th:href="@{'/space/' + ${space.getUrl()}}"></a></div>
		<div class="card-body">
			<th:block th:if="${space.getDescription()}">
				<p class="card-title h3" th:text="${space.getDescription()}"></p>
			</th:block>
			<p class="text-muted card-subtitle" th:text="${'Updated ' + space.getUpdated()}"></p>
			<div class="card-text">
				<p class="text-muted">Operators: <a th:each="operators: ${space.getUsers()}" th:text="${operators.getName() + ' '}" th:href="@{'/user/' + ${operators.getEmail()}}"></a></p>
				<ul class="list-unstyled">
					<li th:each="spacePages : ${pageRepository.findTop5BySpaceOrderByUpdatedDesc(space)}"> <a th:text="${spacePages.getName()}" th:href="${'/space/' + spacePages.getSpace().getUrl() + '/' + spacePages.getUrl()}"></a> <small class="text-muted" th:text="${spacePages.getUser().getName() + ', ' + spacePages.getUpdated()}"></small></li>
				</ul>
			</div>
		</div>
	</div>
</th:block>

<div th:replace="footer"></div>