<div class="col-sm-2 p-4" >

<h3>Spaces</h3>
<nav class="nav flex-column">
	<th:block th:if="${space}">
		<a class="nav-link" href="/">Index</a>
		<h3>Current Space</h3>
		<a class="nav-link" th:text="${space.getName()}" th:href="'/space/' + ${space.getSpaceid()}"></a>
	</th:block>
	<a th:each="all : ${allSpaces}" class="nav-link" th:text="${all.getName()}" th:href="${'/space/' + all.getSpaceid()}"></a>
</nav>

<th:block th:if="${space} and ${leftMenuTop10Pages} and ${leftMenuTop10Pages.size()} gt 0">
	<h3>Recent Pages</h3>
	<nav class="nav flex-column">
		<a th:each="page : ${leftMenuTop10Pages}" class="nav-link" th:text="${page.getName()}" th:href="${'/space/' + space.getSpaceid() + '/page/' + page.getPageid()}"></a>
	</nav>
</th:block>

</div>