<div class="col-sm-2 p-4" >

<h4>Spaces</h4>
<th:block th:if="${session.user}">
	<p><a class="btn btn-primary" role="button" href="/space/create">Create Space</a></p>
	<th:block th:if="${space} and ${spaceView} and ${space.getOperator(session.user)}">
		<p><a class="btn btn-primary "role="button" th:href="${'/space/edit/' + space.getUrl()}">Edit Space</a></p>
	</th:block>

	<th:block th:if="${page} and ${pageView}">
		<th:block th:if="${page.getSpace().getOperator(session.user)}">
			<p><a class="btn btn-primary" role="button" th:href="${'/page/edit/' + page.getUrl()}">Edit Page</a></p>
		</th:block>
	</th:block>

</th:block>

<nav class="nav flex-column">
	<a class="nav-link" href="/">New and recently updated</a>
	<a class="nav-link" href="/space/">All</a>
	<th:block th:if="${space}">
		<h4>Current Space</h4>
		<th:block th:if="${session.user} and ${spaceView} and ${space.getOperator(session.user)}">
			<p><a class="btn btn-primary "role="button" th:href="${'/space/' + space.getUrl() + '/page/create/'}">Create Page</a></p>
		</th:block>
		<a class="nav-link" th:text="${space.getName()}" th:href="'/space/' + ${space.getUrl()}"></a>
	</th:block>
</nav>

</div>