<div th:replace="header"></div>

<th:block th:if="${page}">
	<h1 th:text="${page.getName()}"></h1>
	<th:block th:if="${content}">
		<p th:utext="${content}"></p>
	</th:block>
	<div th:include="comment"></div>
	<th:block th:if="${comments}">
		<hr/>
		<h2>Comments</h2>
		<ul class="list-unstyled">
			<li th:each="comment : ${comments}"> <span th:text="${comment.getContent()}"></span> <small
		class="text-muted" th:text="${comment.getUser().getName() + ', ' + comment.getUpdated()}"></small>
			<!--
			<th:block th:if="${session.user}">
				<a href="#" class="btn btn-primary btn-sm" role="button">Reply</a>
			</th:block>
			-->
			</li>
		</ul>
	</th:block>
</th:block>

<div th:replace="footer"></div>